.buddh__articlepost{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.buddh__articlepost-heading p{
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 25px;
    color: var(--color-text);
    margin-bottom: 2rem;
}

.buddh__articlepost-body p{
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 22px;
    color: var(--color-text);
    margin-bottom: 2rem;
    margin-left: 5rem;
}


.h1{
    margin-right: 3rem;
    font-weight: bold;
}

.h3{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;
}

@media screen and (max-width: 990px) {
    .buddh__articlepost {
        flex-direction: column;
    }

    .buddh__articlepost-body {
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 550px) {
    .buddh__articlepost-heading h1{
        font-size: 28px;
        line-height: 38px;
    }
    .buddh__articlepost-image img{
        transform: scale(0.6);
    }
}